@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@theme {
  /* --- 1. Keyframes (Definisi Gerakan) --- */

  /* Scroll Vertikal (Naik) */
  @keyframes scroll-vertical {
    from { transform: translateY(0); }
    to { transform: translateY(-50%); }
  }

  /* Scroll Vertikal (Turun) */
  @keyframes scroll-down {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0%); }
  }

  /* Scroll Horizontal (Kiri) */
  @keyframes scroll-left {
    0% { transform: translateX(0); }
    /* UBAH: Jadi -50% agar loop tidak putus saat konten diduplikasi */
    100% { transform: translateX(-50%); }
  }

  /* --- 2. Animations (Nama Class yang dipanggil) --- */
  
  /* Class: animate-scroll */
  --animate-scroll: scroll-vertical 30s linear infinite;

  /* Class: animate-scroll-down */
  --animate-scroll-down: scroll-down 30s linear infinite;

  /* Class: animate-scroll-left */
  --animate-scroll-left: scroll-left 15s linear infinite;
  /* animate lgoo navbar */
  --animate-spin-slow: spin 3s linear infinite;

  /* font logo */
  --font-bungee: "Bungee", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}